.facts-container {
    .planet-card__data {

        .facts {
            @include bp-tablet-up {
                width: 10.25rem;
                height: 5.5rem;
            }
            @include bp-lg-up {
                width: 15.9375rem;
                height: 8rem;
            }
        }
    }
}

