.planet-card {
    .planet-image__container {
        height: auto;

    }

    // Planet Sizes-- Main
    #mercury .planet-image {
        width: 6.9375rem;
        height: 6.9375rem;

        @include bp-tablet-up {
            width: 11.5rem;
            height: 11.5rem;
        }

        @include bp-lg-up {
            width: 18.125rem;
            height: 18.125rem;
        }
    }

    #venus .planet-image {
        width: 9.625rem;
        height: 9.625rem;

        @include bp-tablet-up {
            width: 15.8125rem;
            height: 15.8125rem;
        }

        @include bp-lg-up {
            width: 25rem;
            height: 25rem;
        }
    }

    #earth .planet-image {
        width: 10.8125rem;
        height: 10.8125rem;

        @include bp-tablet-up {
            width: 17.8125rem;
            height: 17.8125rem;
        }

        @include bp-lg-up {
            width: 28.125rem;
            height: 28.125rem;
        }
    }

    #mars .planet-image {
        width: 8.0625rem;
        height: 8.0625rem;

        @include bp-tablet-up {
            width: 13.3125rem;
            height: 13.3125rem;
        }

        @include bp-lg-up {
            width: 21rem;
            height: 21rem;
        }
    }

    #jupiter .planet-image {
        width: 14rem;
        height: 14rem;

        @include bp-tablet-up {
            width: 23.0625rem;
            height: 23.0625rem;
        }

        @include bp-lg-up {
            width: 36.375rem;
            height: 36.375rem;
        }
    }

    #saturn .planet-image {
        width: 16rem;
        height: 16rem;

        @include bp-tablet-up {
            width: 26.375rem;
            height: 26.375rem;
        }

        @include bp-lg-up {
            width: 41.625rem;
            height: 41.625rem;
        }
    }

    #uranus .planet-image {
        width: 11rem;
        height: 11rem;

        @include bp-tablet-up {
            width: 18.125rem;
            height: 18.125rem;
        }

        @include bp-lg-up {
            width: 28.625rem;
            height: 28.625rem;
        }
    }

    #neptune .planet-image {
        width: 10.8125rem;
        height: 10.8125rem;

        @include bp-tablet-up {
            width: 17.8125rem;
            height: 17.8125rem;
        }

        @include bp-lg-up {
            width: 28.125rem;
            height: 28.125rem;
        }
    }

    // Planet Sizes--Surface
    .surface-image {
        width: 3.125rem !important;
        height: auto;

        @include bp-tablet-up {
            width: 5rem !important;
            height: auto;
        }

        @include bp-lg-up {
            width: 10.1875rem !important;
            height: auto;


        }


    }

    #mercury .surface-image {
        bottom: 5%;

        @include bp-lg-up {
            bottom: -30%;
        }
    }

    #venus .surface-image {
        bottom: 10%;

        @include bp-lg-up {
            bottom: -15%;
        }
    }

    #earth .surface-image {
        bottom: 10%;

        @include bp-lg-up {
            bottom: -15%;
        }
    }

    #mars .surface-image {
        bottom: 10%;

        @include bp-lg-up {
            bottom: -15%;
        }

    }

    #jupiter .surface-image {}

    #saturn .surface-image {}

    #uranus .surface-image {}

    #neptune .surface-image {}

}