.planet-card {
    &__nav {
        ul {
            
        }
    }


    .planet-image-container {
        margin: 2.5rem auto;
        height: 15.625rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        .surface-image {
            position: absolute;
            width: 5rem;
            
        }
    }


}