.planet-card {
    &__nav--mobile {
        height: 3.75rem;
        width: 100%;


    }

    .planet-content {
        .planet-card__nav--tablet {
            width: 100%;

        }
    }
}

// Mobile Buttons
.mercury>.borderBottom.active {
    border-bottom: 0.25rem solid $mercury !important;
}



// Tablet Buttons
.mercury>.btnPlanetTablet.active {
    background-color: $mercury !important;
}

.venus>.btnPlanetTablet.active {
    background-color: $venus !important;
}

.earth>.btnPlanetTablet.active {
    background-color: $earth !important;
}

.mars>.btnPlanetTablet.active {
    background-color: $mars !important;
}

.jupiter>.btnPlanetTablet.active {
    background-color: $jupiter !important;
}

.saturn>.btnPlanetTablet.active {
    background-color: $saturn !important;
}

.uranus>.btnPlanetTablet.active {
    background-color: $uranus !important;
}

.neptune>.btnPlanetTablet.active {
    background-color: $neptune !important;
}



// Bootstrap Variables Override
.btn,
.btn-primary {
    background-color: transparent !important;
    border: none !important;

    @include bp-tablet-up {
        border-color: $color-dk-gray !important;
    }
}