.planet-card {
    &__nav--mobile {
        height: 3.75rem;
        width: 100%;

        @include bp-tablet-up {
            width: 21.1875rem;
            height: 9.5rem;
        }

        @include bp-xl-up {
            width: 25rem;
        }


    }

    .planet-content {
        .planet-card__nav--tablet {
            width: 100%;
            .nav-buttons--tablet {
            
                
            }
            
            

        }
    }
}