.planet-card {
    &__nav--mobile {
        height: 3.75rem;
        width: 100%;

        .borderBottom {
            border-bottom: 1px solid $color-dk-gray;
        }



    }

    .planet-content {
        .planet-card__nav--tablet {
            width: 100%;

        }
    }
}

// Mobile Buttons
.planet-card__nav--mobile {
    .mercury .btn-primary.active {
        border-color: $mercury !important;
    }

    .venus .btn-primary.active {
        border-color: $venus !important;
    }

    .earth .btn-primary.active {
        border-color: $earth !important;
    }

    .mars .btn-primary.active {
        border-color: $mars !important;
    }

    .jupiter .btn-primary.active {
        border-color: $jupiter !important;
    }

    .saturn .btn-primary.active {
        border-color: $saturn !important;
    }

    .uranus .btn-primary.active {
        border-color: $uranus !important;
    }

    .neptune .btn-primary.active {
        border-color: $neptune !important;
    }
}


// Tablet Buttons
.planet-card__nav--tablet {
    .mercury>.btnPlanetTablet.active {
        background-color: $mercury !important;
    }

    .venus>.btnPlanetTablet.active {
        background-color: $venus !important;
    }

    .earth>.btnPlanetTablet.active {
        background-color: $earth !important;
    }

    .mars>.btnPlanetTablet.active {
        background-color: $mars !important;
    }

    .jupiter>.btnPlanetTablet.active {
        background-color: $jupiter !important;
    }

    .saturn>.btnPlanetTablet.active {
        background-color: $saturn !important;
    }

    .uranus>.btnPlanetTablet.active {
        background-color: $uranus !important;
    }

    .neptune>.btnPlanetTablet.active {
        background-color: $neptune !important;
    }

    .btnPlanetTablet:hover {
        background-color: $color-dk-gray !important;
    }
}

// Bootstrap Variables Override
.btn,
.btn-primary {
    background-color: transparent !important;
    border: none !important;
    border-bottom: 4px solid transparent !important;


    @include bp-tablet-up {
        border: 1px solid $color-lt-gray !important;
    }
}