@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@400;700&display=swap');

body {
    font-family: 'Spartan';
    font-weight: normal;
    font-size: .875rem;
    line-height: .3125rem;
    color: $main-light;
}

